global-exclude *.py[cod]
global-exclude *.editorconfig
include gen_efi_app/conf/gen_efi_app.cfg
include gen_efi_app/conf/gen_efi_app_util.cfg
include gen_efi_app/conf/project.yaml
include gen_efi_app/conf/template/cflags.template
include gen_efi_app/conf/template/ldflags.template
include gen_efi_app/conf/template/main.template
include gen_efi_app/conf/template/makefile.template
include gen_efi_app/conf/template/objects.template
include gen_efi_app/conf/template/ocflags.template
include gen_efi_app/__init__.py
include gen_efi_app/log/gen_efi_app.log
include gen_efi_app/pro/config/__init__.py
include gen_efi_app/pro/config/pro_name.py
include gen_efi_app/pro/config/template_dir.py
include gen_efi_app/pro/__init__.py
include gen_efi_app/pro/read_template.py
include gen_efi_app/pro/write_template.py
include gen_efi_app/run/gen_efi_app_run.py